<%- include('partials/header.ejs') %>
<main>
  <section class="home">


    <h2 class="punch">World's Most Loved Event Software</h2>
    <a href="/events/all"><button>
        Check all Events
      </button></a>
    <a href="/events/new"><button>
        Register New Event
      </button></a>
  </section>
</main>
<%- include('partials/footer.ejs') %>