<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>im Event</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header class="flex space-between">
    <div>
      <img src="/images/logo.jpg" alt="logo" width="60px">
      <h1><span>im</span> Event</h1>
    </div>

    <nav>
      <ul class="flex">
        <li>
          <a href="/" class="active">Home</a>
        </li>
        <li>
          <a href="/events/new" class="active">Add Event</a>
        </li>
        <li>
          <a href="/events/all" class="active">All Events</a>
        </li>
        <li>
          <a href="#" class="active">Contact us</a>
        </li>
      </ul>


    </nav>
  </header>